#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: rgb(63, 63, 247);
}
h1 {
  text-align: left;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}
.imagine-a {
  position: absolute;
  left: 0;
  padding-left: 25px;
  top: 150px;
}
.place {
  position: absolute;
  left: 0;
  padding-left: 25px;
  bottom: 355px;
  top: 210px;
}

p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 360px;
  position: absolute;
  left: 0;
  padding-left: 25px;
  top: 290px;
}

.logo {
  height: 0.9em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  position: absolute;
  left: 0;
  top: 0;
  height: 2em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.option-box {
  position: absolute;
  left: 900px;
  top: 0;
  height: 2.3em;
  padding: 1.5em;
}

#download-Btns {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 25px;
  top: 450px;
}

.mac-download {
  width: 175px;
  background-color: rgb(244, 239, 239);
  color: black;
  border-radius: 30px;
}

.browser-download {
  width: 275px;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border-radius: 30px;
}

#main-img {
  position: absolute;
  bottom: 0;
  left: 400px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
